#mySidenav a {
  position: fixed;
  left: -100px;
  transition: 0.4s;
  text-align: right;
  padding: 15px;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 200;
}
.fill{
  min-height: 40vh;
}
#mySidenav a:hover {
  left: 0px;
}
#home {
  top: 100px;
  background-color: #4CAF50;
}
#about {
  top: 160px;
  background-color: #2196F3;
}
#projects {
  top: 220px;
  background-color: #f44336;
}
#resume {
  top: 280px;
  background-color: #f4bd1a;
}
#contact {
  top: 340px;
  background-color: #555;
}

@media only screen and (max-width: 768px) {
  #mySidenav a{
    display: inline-block;
    position: relative;
    width: 100;
    left: 0;
    top: 0;
  }
}
